node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.idea/workspace.xml
android/.idea/AndroidProjectSystem.xml
android/.idea/compiler.xml
android/.idea/deploymentTargetSelector.xml
android/.idea/misc.xml
android/.idea/runConfigurations.xml
android/.idea/shelf/Uncommitted_changes_before_Update_at_21_04_2026_22_58__Changes_.xml
android/.idea/shelf/Uncommitted_changes_before_Update_at_21_04_2026_23_02__Changes_.xml
android/.idea/shelf/Uncommitted_changes_before_Update_at_21_04_2026_23_13__Changes_.xml
android/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2026_15_58__Changes_.xml
android/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2026_18_44__Changes_.xml
android/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2026_20_29__Changes_.xml
android/.idea/shelf/Uncommitted_changes_before_Update_at_21_04_2026_22_58_\[Changes]/shelved.patch
android/.idea/shelf/Uncommitted_changes_before_Update_at_21_04_2026_23_02_\[Changes]/shelved.patch
android/.idea/shelf/Uncommitted_changes_before_Update_at_21_04_2026_23_13_\[Changes]/shelved.patch
android/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2026_15_58_\[Changes]/shelved.patch
android/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2026_18_44_\[Changes]/shelved.patch
android/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2026_20_29_\[Changes]/shelved.patch
